[submodule "catalogg"]
	path = catalogg
	url = https://github.com/tominflux/catalogg
[submodule "userlogg"]
	path = userlogg
	url = https://github.com/tominflux/userlogg
[submodule "actionlogg"]
	path = actionlogg
	url = https://github.com/tominflux/actionlogg
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/tominflux/x-logg-dashboard
